@using Blazored.Toast.Configuration
@using FlexyBox.web.Components
@inherits LayoutComponentBase
<ErrorBoundary @ref="@_errorBoundary" Context="ex">
    <ChildContent>

        <BlazoredToasts Position="ToastPosition.BottomRight"
                        Timeout="5"
                        IconType="IconType.FontAwesome"
                        SuccessClass="success-toast-override"
                        SuccessIcon="fa fa-thumbs-up"
                        ErrorIcon="fa fa-bug" />
        <NavMenu></NavMenu>
        <main>
            @Body
        </main>
    </ChildContent>
    <ErrorContent>
        <Error OnHandle="ResetErrorBoundary" exception="ex" ></Error>
    </ErrorContent>
</ErrorBoundary>
@code{
    private ErrorBoundary? _errorBoundary;
    private void ResetErrorBoundary() => _errorBoundary.Recover();
}