@if (Posts.Count() != 0)
{
    <div class="container">
        <div class="row">
            @foreach (var post in Posts)
            {
                <div class="col-12 col-sm-6 col-md-4 mb-4">
                    <PostCard GetPostsIncludingDetailsResponse="post" />
                </div>
            }
        </div>
    </div>
}
else
{
    <div class="container">
        <div class="row">
          <p>No Post available</p>
        </div>
    </div>
}


