@using Microsoft.AspNetCore.Components.Authorization
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <AuthorizeView>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <NavLink class="nav-link" href="/newpost">New Post</NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="/mypost">My Posts</NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="/settings">Settings</NavLink>
                    </li>
                </ul>
            </div>
        </AuthorizeView>
        <AuthorizeView>
            <Authorized>
                <AuthorizedProfile UserName=@context.User.Identity.Name UserProfilePicture=@context.User.FindFirst(c => c.Type == "picture")?.Value></AuthorizedProfile>
            </Authorized>
            <NotAuthorized>
                <UnAuthorizedProfile></UnAuthorizedProfile>
            </NotAuthorized>
        </AuthorizeView>
    </div>
</nav>



