<nav aria-label="..." class="d-flex justify-content-center align-items-center">
    <ul class="pagination pagination-sm">
        @foreach (var item in _numbers)
        {
            if (item == Offset)
            {
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">@((item + 1).ToString())</a>
                </li>
            }
            else
            {
                <li class="page-item" @onclick="()=>Page_ChangedAsync(item)">
                    <a class="page-link" href="@("#"+item)">@((item + 1).ToString())</a>
                </li>
            }
        }
    </ul>
</nav>


