
<div class="container">
    <div class="row">
        <div class="col">
            <div class="mb-3">
                <label for="category" class="form-label">Category</label>
                <select id="category" class="form-select" @bind="_selectedCategory.Id">
                    <option value="">Select a category</option>
                    @foreach (var category in Categories)
                    {
                        <option value="@category.Id">@category.Name</option>
                    }
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="mb-3">
                <label for="tags" class="form-label ">Tags</label>
                <TagManager Tags="Tags"
                            SelectedTags="_selectedTags"
                            CreatingTagsSelected_Handler="CreatingTagsSelected_Handling"
                            ExistingTagsSelected_Handler="ExistingTagsSelected_Handling"
                            TagDeleted_Handler="TagDeleted_Handling"></TagManager>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button type="button" @onclick="Search_Changed" class="btn btn-primary">Search</button>
        </div>
    </div>
</div>