<div class="d-flex align-items-center pe-auto" @onclick="Login_ClickHandler">
    <i class="fas fa-user-circle fa-lg me-2 " style="color: #007bff; font-size:xx-large"></i>
    <span class="navbar-text">Join</span>
</div>


